  .producto {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .producto img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 16px;
    object-fit: contain; 
  }
  
  .producto-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
  }

  .producto-info strong {
    font-size: 16px;
    color: #000000; 
    margin-bottom: 16px; 
  }
  
  .producto-boton {
    margin-top: auto;
    align-self: flex-end;
  }

  /*Boton para iniciar el reembolso*/
  .producto-boton{
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
  
  .producto-boton {
    background-color: #D16D8C;
    color: white;
  }
  
  .producto-boton:hover {
    background-color: #B45F75;
  }
  
  .reembolsado {
    color: green;
    font-weight: bold;
  }
  
  .reembolsopendiente {
    color: rgb(255, 77, 0);
    font-weight: bold;
  }
  
  .reembolsorechazado {
    color: red;
    font-weight: bold;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .modal-content textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .reembolso-botones {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
    margin-top: 10px; 
}

  .aprobar-reembolso,
  .rechazar-reembolso {
      padding: 8px 16px;
      font-size: 14px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      display: inline-block;
  }

  .aprobar-reembolso {
      background-color: #28a745;
      color: white;
  }

  .aprobar-reembolso:hover {
      background-color: #218838
  }

  .rechazar-reembolso {
      background-color: #dc3545;
      color: white;
  }

  .rechazar-reembolso:hover {
      background-color: #c82333;
  }

  
  .reembolsopendiente {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
  }
  
  .botones-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
    margin-top: 10px; 
  }
  
  .reembolsopendiente button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-left: 10px;
  }
  
  .editar-motivo {
    background-color: rgb(255, 77, 0);
    color: white;
  }
  
  .editar-motivo:hover {
    background-color: rgb(224, 56, 0);
  }
  
  .cancelar-solicitud {
    background-color: #dc3545;
    color: white;
  }
  
  .cancelar-solicitud:hover {
    background-color: #c82333;
  }
  

  

