.contenedor .contenido form {
    max-width: 400px;
    margin: 0 auto; /* Centra el formulario horizontalmente */
    background-color: #f9f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.contenedor .contenido label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}

.contenedor .contenido input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e6e5e5; 
    border-radius: 5px; 
    box-sizing: border-box;
}

.contenedor .contenido input[type="password"]:focus {
    border-color: #e4a8ca;
    box-shadow: 0 0 5px rgba(228, 168, 202, 0.5);
}

.contenedor .contenido .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e4a8ca;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contenedor .contenido .btn:hover {
    background-color: #d18bb3;
}

.contenedor .contenido p {
    text-align: center;
    margin-top: 10px;
}